.App{
    padding-left:550px;
    width: 380px;
   display: flex;
   justify-content: center;
   margin-top:250px;
   flex-direction: column;
   
  }
  
  .alert{
    color:red;
  }
  
  form{
    padding: 30px;
    background:cornsilk;
    
  }
  
  button{
    width: 200px;
   margin-left:50px;
   border-radius: 8px;
  }
  
  body{
    background:#40A2D8;
  }
  
  input{
    width:300px;
    height: 30px;
    border-radius: 8px;
  
  }